body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #cccccc;
    padding: 20px;
}

.caixaDoTopo {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 50px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

main {
    width: 1000px;
    margin: auto;
}

form {
    margin: 40px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.selecao-horario {
    margin-top: 25px;
}

.input-padrao {
    display: block;
    width: 50%;
    padding: 0 0 20px 0;
    margin: 0 0 35px 0;
}

.checkbox {
    margin: 40px 0;
}

.enviar-formulario {
    margin: 0 40px;
    width: 40%;
    padding: 15px 0;
    background: black;
    font-weight: bold;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    transition: 1s all;
    cursor: pointer;
}

.enviar-formulario:hover {
    background: #c78c19;
    transform: scale(1.1);
}

table {
    margin: 20px 0px 50px 160px;
    text-align: center;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

footer {
    text-align: center;
    background:url(bg.jpg);
    padding: 40px 0 0 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    padding-bottom: 10px ;
}